<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Producto</ion-card-title>
      <ion-card-subtitle>Listado</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    



    </ion-card-content>

    <ion-toast
    [isOpen]="isToastOpen"
    [message]="mensajeToast"
    [duration]="3000"
    (didDismiss)="setOpenToast(false)"
      ></ion-toast>
  
  
      <ion-alert
      [isOpen]="isAlertOpen"
      header="Atencion"
      subHeader="Mensaje Importante"
      [message]="messageAlert"
      [buttons]="alertButtons"
      (didDismiss)="setOpenAlert(false)"
    ></ion-alert>
 
  
</ion-card>
   
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
   
  </ion-toolbar>
</ion-footer>
