<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <h1 class="title">Productos </h1>
 
  <div class="cart-items">
    <ion-button (click)="fnRefresh()" fill="outline"> Refrescar
      <ion-icon name="reload-outline" slot="end"></ion-icon> 
     
    </ion-button>
    <ion-item-sliding *ngFor="let producto of productosList" >
     
    <ion-card mode="ios">
      <ion-item>
      <ion-card-content >
       
        <div class="item-img" routerLink="/productos-publicar/{{ producto.id}}" routerDirection="forward">
          <img src="../../assets/cart/cart1.png" />
        </div>
      
        <div class="item-info" >
          <p>{{ producto.nombre }}</p>
          <p>{{ producto.precio | number : '1.2-2'}}</p>
          <p>{{ producto.precioOferta | number : '1.2-2'}}</p>
          <p>{{ producto.categoria.nombre }}</p>
          <p>{{ producto.marca.nombre }}</p>
         
        </div>
      </ion-card-content>
    </ion-item>
    <ion-item-options side="end">
         
      <ion-item-option color="danger" (click)="fnRemoveItem(producto)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    </ion-card>
 
    
    
  </ion-item-sliding>


  </div>
  


<ion-toast
[isOpen]="isToastOpen"
[message]="mensajeToast"
[duration]="3000"
(didDismiss)="setOpenToast(false)"
  ></ion-toast>


  <ion-alert
  [isOpen]="isAlertOpen"
  header="Atencion"
  subHeader="Mensaje Importante"
  [message]="messageAlert"
  [buttons]="alertButtons"
  (didDismiss)="setOpenAlert(false)"
></ion-alert>

</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
   
  </ion-toolbar>
</ion-footer>
