<!-- page header -->
<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-template
    #productDetails
    [ngTemplateOutlet]="productDetails"
    let-products="products"
    [ngTemplateOutletContext]="{ products: { product1: { count: 1, price: 320, selected: false }, product2: { count: 1, price: 450, selected: true } } }">
  
    <div class="product-list-container">

      <!-- utility bar -->
      <div class="utility-bar-container">
        <div class="select-all-container">
          <ion-checkbox mode="md" (ionChange)="products.product1.selected = products.product2.selected = $event.detail.checked"></ion-checkbox>
          <ion-text>Select all items</ion-text>
        </div>
        <ion-icon name="trash-outline"></ion-icon>
      </div>

      <!-- product list -->
      <ion-list mode="ios" inset="false">

        <!-- first product -->
        <ion-item lines="none" class="ion-no-padding">
          <div class="product-item-container" [class.selected]="products.product1.selected">
            <!-- checkbox -->
            <ion-checkbox mode="md" [checked]="products.product1.selected" (ionChange)="products.product1.selected = $event.detail.checked"></ion-checkbox>

            <!-- product image -->
            <ion-img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"></ion-img>

            <!-- product details -->
            <div class="product-details-container">
              <div class="product-info-container">
                <ion-text class="product-name">Huge couch</ion-text>
                <ion-text class="product-description">Dark green</ion-text>
              </div>

              <div class="product-price-count-container">
                <ion-text class="price">${{ products.product1.price * products.product1.count }}</ion-text>
                 <!-- count -->
                <div class="count-container">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-button fill="clear" class="remove" (click)="products.product1.count > 1 && products.product1.count = products.product1.count - 1">
                          <ion-icon name="remove-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col>
                        <ion-text class="count-value">{{ products.product1.count }}</ion-text>
                      </ion-col>
                      <ion-col>
                        <ion-button fill="clear" class="add" (click)="products.product1.count = products.product1.count + 1">
                          <ion-icon name="add-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
            </div>
          </div>
        </ion-item>

        <!-- second product -->
        <ion-item lines="none" class="ion-no-padding">
          <div class="product-item-container" [class.selected]="products.product2.selected">
            <!-- checkbox -->
            <ion-checkbox mode="md" [checked]="products.product2.selected" (ionChange)="products.product2.selected = $event.detail.checked"></ion-checkbox>

            <!-- product image -->
            <ion-img src="https://images.unsplash.com/photo-1540574163026-643ea20ade25?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"></ion-img>

            <!-- product details -->
            <div class="product-details-container">
              <div class="product-info-container">
                <ion-text class="product-name">Brown couch</ion-text>
                <ion-text class="product-description">Dark brown</ion-text>
              </div>

              <div class="product-price-count-container">
                <ion-text class="price">${{ products.product2.price * products.product2.count}}</ion-text>
                 <!-- count -->
                <div class="count-container">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-button fill="clear" class="remove" (click)="products.product2.count > 1 && products.product2.count = products.product2.count - 1">
                          <ion-icon name="remove-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col>
                        <ion-text class="count-value">{{ products.product2.count }}</ion-text>
                      </ion-col>
                      <ion-col>
                        <ion-button fill="clear" class="add" (click)="products.product2.count = products.product2.count + 1">
                          <ion-icon name="add-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>

    </div>

    <!-- cta -->
    <div class="cta-container">
      <div class="inner-container">

        <!-- promo button -->
        <ion-button mode="ios" expand="block" shape="round" fill="outline" size="large" class="promo">
          <div class="button-contents-container">
            <ion-icon name="pricetags" class="promo-icon"></ion-icon>
            <div class="texts-container">
              <ion-text class="promo-name">Save more with promo</ion-text>
              <ion-text class="promo-description">You have 5 promos available</ion-text>
            </div>
            <ion-icon name="chevron-forward"></ion-icon>
          </div>
        </ion-button>
        
        <div class="price-container">
          <ion-text class="description">
            Price ({{ (products.product1.selected ? products.product1.count : 0) + (products.product2.selected ? products.product2.count : 0) }} items)
          </ion-text>
          <ion-text class="amount">
            ${{ ((products.product1.selected ? products.product1.count : 0) * products.product1.price) + ((products.product2.selected ? products.product2.count : 0) * products.product2.price) }}
          </ion-text>
        </div>
        <div class="price-container">
          <ion-text class="description">
            Total Price
          </ion-text>
          <ion-text class="amount final">
            ${{ ((products.product1.selected ? products.product1.count : 0) * products.product1.price) + ((products.product2.selected ? products.product2.count : 0) * products.product2.price) }}
          </ion-text>
        </div>
        <ion-button mode="ios" expand="block" shape="round" size="large" class="cta">
          <ion-text class="button-text">
            Continue
          </ion-text>
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-content>
