ion-content {
    --background: #f8f8f8;

    ion-toolbar {
        --background: #f8f8f8;
        --border-style: none;
        --min-height: 50px;
        ion-title {
            color: #444;
        }
    }
    ion-menu-toggle {
        ion-button {
            ion-icon {
                color: #444;
            }
        }
    }

    // side menu styling
    .menu-items-container {

        h2 {
            font-size: 2.5rem;
            color: #444;
            font-weight: 700;
            margin: 20px;
        }
        ion-list {
            background-color: #f8f8f8;
            // custom ion-item stylings
            ion-item {
                --background: #f8f8f8;
                --color: #444;
                --border-style: none;
                --padding-top: 12px;
                --padding-bottom: 12px;
                .option-container {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #222;
        
                    .option-name {
                        display: flex;
                        align-items: center;
                        ion-text {
                            margin-left: 20px;
                        }
                        ion-icon {
                            font-size: 1.5rem;
                        }
                        ion-avatar {
                            width: 24px;
                            height: 24px;
                            border-radius: 12px;
                        }
                    }
        
                    .option-value {
                        display: flex;
                        align-items: center;
                        color: #999;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}