// header
ion-header {
    ion-toolbar {
      --background: #fff;
      --border-style: none;
      min-height: 70px;
      ion-button {
        --background: #fff;
        --color: #0d1f3f;
        height: 40px;
        width: 40px;
        ion-icon {
          font-size: 1.2rem;
        }
      }
      ion-title {
        --color: #0c1e3f;
      }
    }
  }
  
  // content
  ion-content {
    --background: #fff;
    --color: #0c1e3f;
  
    .product-list-container {
      padding: 10px 10px 120px 10px; // factor in the height of the floating cta button
      background-color: #fff;
      border-radius: 20px 20px 0 0;
      min-height: 100%;
  
      // product list
      ion-list {
        background: transparent;
        ion-item {
          --background: #fff;
          margin: 10px;
          .product-item-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 10px;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            border-radius: 15px;
  
            // checkbox
            ion-checkbox {
              --border-radius: 5px;
              --checkmark-color: #fff;
              --background: #fff;
              --background-checked: #0c0c0c;
              --border-color: #d8dae2;
              --border-color-checked: #0c0c0c;
              --checkmark-width: 3px;
              height: 20px;
              width: 20px;
              align-self: center;
              margin-right: 15px;
            }
  
            // product image
            ion-img {
              flex-shrink: 0;
              flex-grow: 0;
              width: 100px;
              height: 100px;
              border-radius: 10px;
              object-fit: cover;
              overflow: hidden;
            }
  
            // product details
            .product-details-container {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-left: 15px;
              flex-grow: 1;
              height: 100px;
              .product-info-container {
                display: flex;
                flex-direction: column;
                ion-text {
                  &.product-name {
                    color: #383f50;
                    font-weight: 500;
                    font-size: 1.1rem;
                    margin-top: 5px;
                  }
                  &.product-description {
                    color: #a0a7b3;
                    font-weight: 500;
                    font-size: 0.8rem;
                    margin-top: 5px;
                  }
                }
              }
              .product-price-count-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                ion-text {
                  &.price {
                    color: #36373d;
                    font-weight: 500;
                    font-size: 1.1rem;
                  }
                }
                // count
                .count-container {
                  flex-shrink: 0;
                  flex-grow: 0;
                  --ion-grid-padding: 1px;
                  z-index: 20;
                  ion-col {
                    display: grid;
                    align-items: center;
                  }
                  ion-button {
                    --padding-start: 0;
                    --padding-end: 0;
                    --padding-top: 0;
                    --padding-bottom: 0;
                    --border-radius: 50%;
                    --background: #f1eff2;
                    --color: #3a3839;
                    height: 25px;
                    width: 25px;
                    ion-icon {
                      font-size: 0.9rem;
                    }
                  }
                  ion-text {
                    &.count-value {
                      color: #0c1e3f;
                      font-size: 0.9rem;
                      font-weight: 500;
                    }
                  }
                }
              }
            }
          }
        }
        // slide option
        ion-item-option {
          --background: transparent;
          .icon-container {
            display: grid;
            align-items: center;
            justify-items: center;
            .icon-inner-container {
              width: 50px;
              height: 50px;
              border-radius: 15px;
              background-color: #f6f5f7;
              display: grid;
              align-items: center;
              justify-items: center;
              ion-icon {
                color: #7d66d3;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  
    // cta
    .cta-container {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 10px 20px;
      margin-bottom: env(safe-area-inset-bottom, 30px);
      background: #fff;
      display: flex;
      flex-direction: column;
      .inner-container {
        // price
        .price-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin: 5px 25px;
          ion-text {
            &.description {
              font-size: 1rem;
              font-weight: 500;
              color: #838898;
            }
            &.amount {
              font-weight: 500;
              font-size: 1.3rem;
              color: #262730;
            }
          }
          &.total {
            border-top: 1px solid #b5b6b9;
            margin-top: 10px;
            padding-top: 10px;
          }
        }
        ion-button {
          // promo button
          &.promo {
            --background-activated: #fdfdfd;
            --background-focused: #fdfdfd;
            margin: 15px;
            .button-contents-container {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              .left-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                .promo-icon-container {
                  width: 50px;
                  height: 50px;
                  border-radius: 15px;
                  background-color: #f6f5f7;
                  display: grid;
                  align-items: center;
                  justify-items: center;
                  ion-icon {
                    color: #7d66d3;
                    font-size: 1.5rem;
                  }
                }
                ion-text {
                  &.promo-prompt {
                    font-size: 0.9rem;
                    color: #485062;
                    font-weight: 700;
                    margin-left: 10px;
                  }
                }
              }
              .right-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                ion-text {
                  &.promo-applied {
                    color: #7d66d3;
                    font-size: 0.9rem;
                    font-weight: 600;
                  }
                }
                ion-icon {
                  color: #696969;
                  font-size: 1.2rem;
                }
              }
            }
          }
  
          // checkout button
          &.cta {
            --box-shadow: none;
            --background: #7d66d3;
            --background-activated: #9b8bd6;
            --background-focused: #9b8bd6;
            --color: #fff;
            margin: 15px 0 0 0;
          }
        }
      }
    }
  }
  