
<!-- content -->
<ion-content [fullscreen]="true">
  <div class="page-container">
   
<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../../assets/menu_bar.svg" />
      </ion-menu-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  
    <ion-item>
      <ion-input  placeholder="Buscar..." ></ion-input>
    </ion-item>
   
  
    <ion-buttons slot="end">
    
      <ion-button class="notification" routerLink="/carrito" routerDirection="back">
        <ion-icon name="cart-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>

      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  


<!-- SECCION PUBLICIDADES
<h1>Seccion Publicidades</h1>
    <swiper-container [slidesPerView]="3" [loop]="false">
      <swiper-slide *ngFor="let r of publicidadesResult">
      <ion-col routerLink="/comercios/{{ r.id}}" routerDirection="forward">    
        
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>{{r.titulo}}</ion-card-title>
        <ion-card-subtitle>{{r.empresa.nombre}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        %{{r.porcentaje}} de descuento en {{r.producto.nombre }}  
        llevando {{r.cantidad}} paga solo ${{r.precio}}
        
      </ion-card-content>
    </ion-card>



  </ion-col>

  </swiper-slide>
</swiper-container>
-->
<!-- FIN SECCION PUBLICIDADES-->




<!-- SECCION Rubros
<h1>Seccion Rubros</h1>
<ion-grid>
  <ion-row>
    <ion-col size="3" *ngFor="let r of rubrosResult; let index=index" >
      <figure>
        <img src="https://picsum.photos/id/287/250/300" alt="Mountains">
        <figcaption>{{r.nombre}}</figcaption>
      </figure>
    </ion-col>
  </ion-row>
</ion-grid>
-->
<!-- FIN SECCION rubros -->


<!-- SECCION Populares 
<div class="title ion-padding">
  <h2 class="font-bold">Mis Favoritos</h2>
  <p>See all</p>
</div>
<div class="product-slider ion-padding-start">
  <swiper-container [slidesPerView]="4" [loop]="false">
    <swiper-slide *ngFor="let product of productosResult">
      <ion-col class="ion-text-left" routerLink="/item-details/{{ product.id}}" routerDirection="forward">
        <img src="../../assets/product-slider/prod-slide1.png" />
        <p>${{ product.precio }}</p>
        <h6>{{ product.nombre }}</h6>
      </ion-col>
    </swiper-slide>
  </swiper-container>
</div>
-->
<!-- FIN SECCION Populares -->


 
<ion-toast
[isOpen]="isToastOpen"
[message]="mensajeToast"
[duration]="3000"
(didDismiss)="setOpenToast(false)"
  ></ion-toast>


  <ion-alert
  [isOpen]="isAlertOpen"
  header="Atencion"
  subHeader="Mensaje Importante"
  [message]="messageAlert"
  [buttons]="alertButtons"
  (didDismiss)="setOpenAlert(false)"
></ion-alert>
</ion-content>







    <!-- categories -->
    <div class="categories-container">
      <!-- section header -->
      <div class="section-header">
        <ion-text>
          <h2>Top Categorias</h2>
        </ion-text>
        <ion-button fill="clear" class="ion-no-padding">
          <ion-label>Ver Todas</ion-label>
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>

      <!-- filters -->
      <div class="filters-container">
        
      <!-- SECCION Rubros -->
      <ion-chip *ngFor="let r of rubrosResult; let index=index">
        <ion-icon name={{r.icon}} class={{r.clase}}></ion-icon>
        <ion-label>{{r.nombre}}</ion-label>
      </ion-chip>
      <!-- FIN SECCION rubros -->
        
      </div>
    </div>


    <!-- recommendations -->
    <div class="recommendations-container">
      <!-- section header -->
      <div class="section-header">
        <ion-text>
          <h2>Favoritos</h2>
        </ion-text>
        <ion-button fill="clear" class="ion-no-padding">
          <ion-label>Ver todo</ion-label>
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
      <!-- food cards -->
      <div class="food-cards-container">
        <ion-grid>
          <!-- first row -->
          <ion-row>
                <ion-col *ngFor="let product of productosResult"
                size="6" 
                routerLink="/item-details/{{ product.id}}" 
                routerDirection="forward">
      
                  <ion-card>
                    <div class="food-card-container">
                      <ion-img
                        src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                      ></ion-img>
                      <div class="text-container">
                        <ion-text class="name">{{ product.nombre }}</ion-text>
                        <ion-text class="price">${{ product.precio }}</ion-text>
                      </div>
                    </div>
                  </ion-card>                
                </ion-col>
          
          </ion-row>
        </ion-grid>
      </div>
    </div>

    








    <!-- recommendations -->
    <div class="recommendations-container">
      <!-- section header -->
      <div class="section-header">
        <ion-text>
          <h2>Productos</h2>
        </ion-text>
        <ion-button fill="clear" class="ion-no-padding">
          <ion-label>Ver todo</ion-label>
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
      
      <!-- food cards -->
      <div class="food-cards-container">
        <ion-grid>
          <!-- first row -->
          <ion-row>
            <!-- quinoa -->
            <ion-col *ngFor="let product of productosResult"
                size="6" 
                routerLink="/item-details/{{ product.id}}" 
                routerDirection="forward">
      
                  <ion-card>
                    <div class="food-card-container">
                      <ion-img
                        src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                      ></ion-img>
                      <div class="text-container">
                        <ion-text class="name">{{ product.nombre }}</ion-text>
                        <ion-text class="price">${{ product.precio }}</ion-text>
                      </div>
                    </div>
                  </ion-card>                
                </ion-col>
          
            <!-- burger -->
            <ion-col size="6">
              <ion-card>
                <div class="food-card-container">
                  <ion-img
                    src="https://images.unsplash.com/photo-1565299507177-b0ac66763828?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1022&q=80"
                  ></ion-img>
                  <div class="text-container">
                    <ion-text class="name">TheKitchen~ Burger</ion-text>
                    <ion-text class="price">$25</ion-text>
                  </div>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>

          <!-- second row -->
          <ion-row>
            <!-- dumplings -->
            <ion-col size="6">
              <ion-card>
                <div class="food-card-container">
                  <ion-img
                    src="https://images.unsplash.com/photo-1496116218417-1a781b1c416c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80"
                  ></ion-img>
                  <div class="text-container">
                    <ion-text class="name">TheKitchen~ Dumplings</ion-text>
                    <ion-text class="price">$20</ion-text>
                  </div>
                </div>
              </ion-card>
            </ion-col>

            <!-- panini -->
            <ion-col size="6">
              <ion-card>
                <div class="food-card-container">
                  <ion-img
                    src="https://images.unsplash.com/photo-1475090169767-40ed8d18f67d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3132&q=80"
                  ></ion-img>
                  <div class="text-container">
                    <ion-text class="name">TheKitchen~ Panini</ion-text>
                    <ion-text class="price">$15</ion-text>
                  </div>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>

          <!-- third row -->
          <ion-row>
            <!-- salad -->
            <ion-col size="6">
              <ion-card>
                <div class="food-card-container">
                  <ion-img
                    src="https://images.unsplash.com/photo-1543339308-43e59d6b73a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80"
                  ></ion-img>
                  <div class="text-container">
                    <ion-text class="name">TheKitchen~ Salad</ion-text>
                    <ion-text class="price">$15</ion-text>
                  </div>
                </div>
              </ion-card>
            </ion-col>

            <!-- ramen -->
            <ion-col size="6">
              <ion-card>
                <div class="food-card-container">
                  <ion-img
                    src="https://images.unsplash.com/photo-1569718212165-3a8278d5f624?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                  ></ion-img>
                  <div class="text-container">
                    <ion-text class="name">TheKitchen~ Ramen</ion-text>
                    <ion-text class="price">$20</ion-text>
                  </div>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <!-- cart -->
    <div class="cart-button-container">
      <ion-button fill="solid" expand="block">
        Check out 2 products
      </ion-button>
    </div>
  </div>
</ion-content>
