<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../../assets/menu_bar.svg" />
      </ion-menu-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  
    <ion-item>
      <ion-input  placeholder="Buscar..."></ion-input>
    </ion-item>
   
  
    <ion-buttons slot="end">
    
      <ion-button class="notification" routerLink="/carrito" routerDirection="back">
        <ion-icon name="cart-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>

      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  


<!-- SECCION PUBLICIDADES-->
<h1>Seccion Publicidades</h1>
<swiper-container [slidesPerView]="3" [loop]="false">
  <swiper-slide *ngFor="let r of publicidadesResult">
  <ion-col routerLink="/comercios/{{ r.id}}" routerDirection="forward">    
    <ion-card color="primary">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title >{{r.titulo}}</ion-card-title>
           <ion-card-subtitle>{{r.empresa.nombre}}</ion-card-subtitle>
      </ion-card-header>
        <ion-card-content>
         
          %{{r.porcentaje}} de descuento en {{r.producto.nombre }}  
        llevando {{r.cantidad}} paga solo ${{r.precio}}
        
      </ion-card-content>
    </ion-card>
  </ion-col>

  </swiper-slide>
</swiper-container>
<!-- FIN SECCION PUBLICIDADES-->




<!-- SECCION Rubros-->
<h1>Seccion Rubros</h1>
<ion-grid>
  <ion-row>
    <ion-col size="3" *ngFor="let r of rubrosResult; let index=index" >
      <figure>
        <img src="https://picsum.photos/id/287/250/300" alt="Mountains">
        <figcaption>{{r.nombre}}</figcaption>
      </figure>
    </ion-col>
  </ion-row>
</ion-grid>

  
  
<!-- FIN SECCION rubros -->


<!-- SECCION Populares--> 
<div class="title ion-padding">
  <h2 class="font-bold">Mis Favoritos</h2>
  <p>See all</p>
</div>
<div class="product-slider ion-padding-start">
  <swiper-container [slidesPerView]="4" [loop]="false">
    <swiper-slide *ngFor="let product of productosResult">
      <ion-col class="ion-text-left" routerLink="/item-details/{{ product.id}}" routerDirection="forward">
        <img src="../../assets/product-slider/prod-slide1.png" />
        <p>${{ product.precio }}</p>
        <h6>{{ product.nombre }}</h6>
      </ion-col>
    </swiper-slide>
  </swiper-container>
</div>

<!-- FIN SECCION Populares -->


<!-- SECCION Populares--> 
  <div class="title ion-padding">
    <h2 class="font-bold">Populares</h2>
    <p>See all</p>
  </div>
<div class="product-slider ion-padding-start">
    <swiper-container [slidesPerView]="4" [loop]="false">
      <swiper-slide *ngFor="let product of productosResult">
        <ion-col class="ion-text-left" routerLink="/item-details/{{ product.id}}" routerDirection="forward">
          <img src="../../assets/product-slider/prod-slide1.png" />
          <p>${{ product.precio }}</p>
          <h6>{{ product.nombre }}</h6>
        </ion-col>
      </swiper-slide>
    </swiper-container>
  </div>

<!-- FIN SECCION Populares -->



<!-- SECCION Populares--> 

<!-- SECCION Populares--> 
 <!--
  <div class="title ion-padding">
    <h2 class="font-bold">Best Sell</h2>
    <p>See all</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let product of bestSellProducts">
        <ion-col class="ion-text-left" routerLink="/item-details" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p>${{ product.price }}</p>
          <h6>{{ product.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
-->
<ion-toast
[isOpen]="isToastOpen"
[message]="mensajeToast"
[duration]="3000"
(didDismiss)="setOpenToast(false)"
  ></ion-toast>


  <ion-alert
  [isOpen]="isAlertOpen"
  header="Atencion"
  subHeader="Mensaje Importante"
  [message]="messageAlert"
  [buttons]="alertButtons"
  (didDismiss)="setOpenAlert(false)"
></ion-alert>
</ion-content>
