<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../../assets/menu_bar.svg" />
      </ion-menu-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  
    <ion-item>
      <ion-input  placeholder="Buscar..."></ion-input>
    </ion-item>
   
  
    <ion-buttons slot="end">
    
      <ion-button class="notification" routerLink="/carrito" routerDirection="back">
        <ion-icon name="cart-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>

      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  
  <div class="title ion-padding">
    <h2>Categorias</h2>
    <p>Ver todo</p>
  </div>
  <div class="category-slider ion-padding-start">
  <swiper-container [slidesPerView]="3" [loop]="false">
    <swiper-slide *ngFor="let category of categoriasResult">
    <ion-col>
      <h4>{{ category.nombre }}</h4>
      <img src="../../assets/categories/category-1.png" />
    </ion-col>
    </swiper-slide>
  </swiper-container>
  </div>    


 
  <div class="title ion-padding">
    <h2 class="font-bold">Productos</h2>
    <p>See all</p>
  </div>
<div class="product-slider ion-padding-start">
    <swiper-container [slidesPerView]="3" [loop]="false">
      <swiper-slide *ngFor="let product of productosResult">
        <ion-col class="ion-text-left" routerLink="/item-details/{{ product.id}}" routerDirection="forward">
          <img src="../../assets/product-slider/prod-slide1.png" />
          <p>${{ product.precio }}</p>
          <h6>{{ product.nombre }}</h6>
        </ion-col>
      </swiper-slide>
    </swiper-container>
  </div>

 <!--
  <div class="title ion-padding">
    <h2 class="font-bold">Best Sell</h2>
    <p>See all</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let product of bestSellProducts">
        <ion-col class="ion-text-left" routerLink="/item-details" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p>${{ product.price }}</p>
          <h6>{{ product.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
-->
<ion-toast
[isOpen]="isToastOpen"
[message]="mensajeToast"
[duration]="3000"
(didDismiss)="setOpenToast(false)"
  ></ion-toast>


  <ion-alert
  [isOpen]="isAlertOpen"
  header="Atencion"
  subHeader="Mensaje Importante"
  [message]="messageAlert"
  [buttons]="alertButtons"
  (didDismiss)="setOpenAlert(false)"
></ion-alert>
</ion-content>
