<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  
  
  <h1 class="title">Carrito </h1>
  <b *ngIf="!pedidosList"> El carrito esta vacio.</b>




 
  <ion-list>
    <div class="cart-items" *ngFor="let pedido of pedidosList">

    <ion-item-group>
      <ion-item-divider>
        <ion-label> {{pedido.empresa.nombre}} - NroPedido: {{pedido.id}}</ion-label>
      </ion-item-divider>
      <pedido-item-list [pedidoInput]="pedido" (eventRefreshListado)="fnRefreshPedidos()"></pedido-item-list>
      
      <ion-button  routerLink="/check-pedido/{{ pedido.id}}" routerDirection="forward" fill="outline" expand="full" >Confirmar</ion-button>
    
    </ion-item-group>
    </div>
  </ion-list>


   
     
     
  





</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <!--
    <ion-button *ngIf="pedidosList.length > 0 " expand="block" class="main-button" routerLink="/check-pedido" routerDirection="forward">Continuar</ion-button>
  -->
  </ion-toolbar>
</ion-footer>
