<!-- page header -->
<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <!-- back button -->
    <ion-button mode="ios" slot="start" fill="clear" class="ion-no-padding">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>

    <ion-title>Carrito</ion-title>

    <!-- delete button -->
    <ion-button mode="ios" slot="end" fill="clear" class="ion-no-padding">
        <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <ng-template
    #productDetails
    [ngTemplateOutlet]="productDetails"
    let-products="products"
    [ngTemplateOutletContext]="{ products: { product1: { count: 1, price: 320 }, product2: { count: 1, price: 450 } } }">

    <!--
    <b *ngIf="!pedidosList"> El carrito esta vacio.</b>
    <ion-list>
      <div class="cart-items" *ngFor="let pedido of pedidosList">
      <ion-item-group>
        <ion-item-divider>
          <ion-label> {{pedido.empresa.nombre}} - NroPedido: {{pedido.id}}</ion-label>
        </ion-item-divider>
        <pedido-item-list [pedidoInput]="pedido" (eventRefreshListado)="fnRefreshPedidos()"></pedido-item-list>
        
        <ion-button  routerLink="/check-pedido/{{ pedido.id}}" routerDirection="forward" fill="outline" expand="full" >Confirmar</ion-button>
      
      </ion-item-group>
      </div>
    </ion-list>
    -->
    <!-- product list -->
    <div class="product-list-container">
      <ion-list mode="ios" inset="false" *ngFor="let pedido of pedidosList">
        
        <!-- first product -->
        <ion-item lines="none" class="ion-no-padding" *ngFor="let item of pedido.items">
          <div class="product-item-container">
            <!-- product image -->
            <ion-img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"></ion-img>

            <!-- product details -->
            <div class="product-details-container">
              <div class="product-info-container">
                <ion-text class="product-name">{{ item.producto.nombre }}</ion-text>
                <ion-text class="product-description">{{ item.producto.descripcion }}</ion-text>
              </div>

              <div class="product-price-count-container">
                <ion-text class="price">${{  item.producto.precio * item.cantidad | number : '1.2-2' }}</ion-text>
                 <!-- count -->
                <div class="count-container">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-button fill="clear" (click)="fnUpdatePedidoItem(item,-1)">
                          <ion-icon name="remove-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col>
                        <ion-text class="count-value">{{ item.cantidad }}</ion-text>
                      </ion-col>
                      <ion-col>
                        <ion-button fill="clear" (click)="fnUpdatePedidoItem(item,1)">
                          <ion-icon name="add-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
            </div>
          </div>
        </ion-item>

      </ion-list>

    </div>

    <!-- cta -->
    <div class="cta-container">
      <div class="total-container">
        <ion-text class="description">
          Total ({{ cantidadTotal }} items):
        </ion-text>
        <div class="amount-container">
          <ion-text class="currency">
            $
          </ion-text>
          <ion-text class="amount">
            {{ importeTotal }}
          </ion-text>
        </div>
      </div>
      <ion-button mode="ios" expand="block" size="large" class="cta" (click)="fnConfirmarPendientes()">
        <div class="button-container">
          <ion-text class="button-text">
            Confirmar Pedido
          </ion-text>
          <div class="icon-container">
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
        </div>
      </ion-button>
    </div>
  </ng-template>
</ion-content>
