<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div echarts [options]="options" class="demo-chart"></div>
  
  
  
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>CONFIRMADOS</ion-card-title>
      <ion-card-subtitle>Pedidos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> {{resumenPedidos[estados.CONFIRMADO]}} </ion-card-content>
  </ion-card>
  
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>EN PREPARACION</ion-card-title>
      <ion-card-subtitle>Pedidos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> {{resumenPedidos[estados.ENPREPARACION]}}  </ion-card-content>
  </ion-card>
  
  
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>PREPARADO</ion-card-title>
      <ion-card-subtitle>Pedidos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> {{resumenPedidos[estados.PREPARADO]}}  </ion-card-content>
  </ion-card>
  
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>EN CAMINO</ion-card-title>
      <ion-card-subtitle>Pedidos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> {{resumenPedidos[estados.ENCAMINO]}} </ion-card-content>
  </ion-card>
  
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>ENTREGADO</ion-card-title>
      <ion-card-subtitle>Pedidos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> {{resumenPedidos[estados.ENTREGADO]}} </ion-card-content>
  </ion-card>
  
  
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
  
  </ion-toolbar>
</ion-footer>