<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list>
    <ion-item *ngFor="let item of pedidoEntity.items" >
      <ion-label>{{item.producto.nombre}} -  {{item.cantidad}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="fnPedidoUpdEnCamino()" expand="block" shape="round" fill="outline">Preparado y En Camino <ion-icon name="bicycle-outline" slot="end"></ion-icon></ion-button>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
  
  </ion-toolbar>
</ion-footer>